<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:glEsVersion="0x00030002" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Doomflame"
        tools:targetApi="31">

        <activity
            android:name=".ModeSelectActivity"
            android:exported="true"
            android:label="@string/title_activity_mode_select"
            android:theme="@style/Theme.Doomflame">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".theme_change.ThemeChangeActivity"
            android:exported="false"
            android:label="Theme change"
            android:theme="@style/Theme.Activity.ThemeChange" />

        <activity
            android:name=".icon_select.IconSelectActivity"
            android:exported="false"
            android:label="Icon Select"
            android:theme="@style/Theme.Doomflame" />

        <activity
            android:name=".DoomFlameActivity"
            android:exported="false" />

        <service
            android:name=".icon_select.ChangeAppIconService"
            android:stopWithTask="false" />

        <activity-alias
            android:name=".one"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:targetActivity=".ModeSelectActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>

</manifest>